# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# VS ignore files
*.vsidx
*.db-shm
*.opendb
*.ipch
*.suo
*.db-wal
*.db
/.vs/combatlog-vod-split/v17/ipch/AutoPCH/5cc3ae54da1c9e51/COMBATLOG-VOD-SPLIT.ipch
/.gitignore
/.vs/combatlog-vod-split/v17/.suo
/.vs/combatlog-vod-split/v17/Browse.VC.db
/.vs/combatlog-vod-split/v17/DocumentLayout.json
/combatlog-vod-split/x64/Debug/vc143.pdb
/combatlog-vod-split/x64/Debug/vc143.idb
/combatlog-vod-split/x64/Debug/combatlo.137f7b1b.tlog/CL.read.1.tlog
/combatlog-vod-split/x64/Debug/combatlo.137f7b1b.tlog/CL.write.1.tlog
/combatlog-vod-split/x64/Debug/combatlo.137f7b1b.tlog/link.read.1.tlog
/combatlog-vod-split/x64/Debug/combatlog-vod-split.ilk
/combatlog-vod-split/x64/Debug/combatlog-vod-split.log
/bin/WoWCombatLog-070924_195451.txt
